ATmega4809_SPI_Examples/.vs
ATmega4809_SPI_Examples/Sending_Data_as_Master/Debug
ATmega4809_SPI_Examples/Receiving_Data_as_Slave/Debug
ATmega4809_SPI_Examples/Implementing_Multi_Master/Debug
ATmega4809_SPI_Examples/Changing_Data_Transfer_Types/Debug
ATmega4809_SPI_Examples/.git